/*µÇÂ¼*/
.page-login{ position: relative; z-index: 100}
.page-login .login-bb{ width: 100%; min-width: 1200px; height: 549px; padding-top: 219px; background: url("../images/logo_bg.png") repeat-x;}
.page-login .login-box{ width: 100%; height: 330px; background: url("../images/logo_bb.png") no-repeat center;}
.page-login .login-wrap{ width: 1200px; height: 330px; margin: 0 auto; position: relative;}
.page-login .login-wrap .login-logo{ position: absolute; top: 125px; right: 615px;}
.page-login .login-wrap .logo-bp{ position: absolute; top: -109px; right: 587px;}
.page-login .login-wrap .login-form{ display: block; width: 300px; height: 372px; position: absolute; top: -42px; left: 713px; background: url("../images/logo_box.png") no-repeat;}
.page-login .login-wrap .login-form ul{ display: block; width: 300px; height: 200px; position: absolute; top: 42px; right: 0; padding-top: 130px;}
.page-login .login-wrap .login-form .ft{ margin-bottom: 31px; text-align: center;}
.page-login .login-wrap .login-form .ft input{ width: 205px; height: 36px; margin: 0 auto; border: none; background: none; padding-left: 35px; color: #FFF;}
.page-login .login-wrap .login-form .btn{ text-align: center;}
.page-login .login-wrap .login-form .btn input{ width: 120px; height: 36px; margin: 0 auto; cursor: pointer; border: none; background: #0069B7; font-size: 16px; color: white; border-radius: 5px;}
.tbg{ position:absolute; top: 0; left: 0; right: 0; width: 100%; min-width: 1200px; height: 50%; background-color: #0069B7; z-index: 99;}
.bbg{ position:absolute; bottom: 0; left: 0; right: 0; width: 100%; min-width: 1200px; height: 50%; background-color: #79B0D9; z-index: 99;}

/*Ê×Ò³*/
.header{ background: url("../images/home_hb.png") repeat-x bottom;}
.header .top-bar{ width: 100%; min-width: 1000px; height: 40px; line-height: 40px; background-color: #0061A8; color: white;}
.header .top-bar .top-wrap{ width: 1000px; margin: 0 auto;}
.header .top-bar .tb-l{ float: left;}
.header .top-bar .tb-l span{ color: #FF9933;}
.header .top-bar .tb-r{ float: right;}
.header .top-bar .tb-r span{ margin: 0 10px;}
.header .top-bar .tb-r span a{ color: white;}
.header .top-bar .tb-r span a:hover{ color: #FF9933;}
.header .top-bar .tb-r span:last-child{ margin: 0 0 0 10px;}
.header .top-bar .tb-r span:first-child a{ margin-left: 10px;}
.header .header-wrap{ width: 100%; min-width: 1000px; height: 235px; position: relative; background: url("../images/home_hp.png") no-repeat bottom;}
.header .header-box{ width: 1000px; margin: 0 auto; position: relative;}
.header .header-box .hd-logo{ position: absolute; left: 0; top: 30px;}
.header .header-box .hd-logo a{ display: block;}
.header .header-box .hd-logo img{ width: auto; height: 84px;}
.header .header-box .hd-nav{ position: absolute; top: 0; right: 0;}
.header .hd-nav ul{ display: block;}
.header .hd-nav li{ float: left; height: 90px; border-right: 1px solid rgba(255,255,255,.3)}
.header .hd-nav li:last-child{ border-right: none;}
.header .hd-nav li a{ display: block; height: 90px; padding: 0 20px; text-align: center;}
.header .hd-nav li a i{ display: block; height: 48px; padding-top: 12px; text-align: center;}
.header .hd-nav li a img{ margin: 0 auto; display: none;}
.header .hd-nav li a span{ display: block; font-size: 16px; color: white; height: 16px;}
.header .hd-nav li.on{ background-color: #0069B7; border-right: none;}
.header .hd-nav li.on a{ height: 86px; border-bottom: 4px solid #FF9933;}
.header .hd-nav li.on a img{ display: block;}
.header .hd-bb{ position: absolute; left: 0; bottom: 0; width: 100%; height: 60px; background-color: rgba(0,105,183,.5)}
.header .hd-bb div{ width: 1000px; margin: 0 auto;}
.header .hd-bb div img{ float: right;}

.footer{ width: 100%; min-width: 1000px; background-color: #0061A8; font-size: 14px; color: white;}
.footer .ft-wrap{ width: 1000px; margin: 0 auto;}
.footer a{ color: white;}
.footer a:hover{ color: #FF9933;}
.footer .ft-links{ text-align: center; line-height: 50px; border-bottom: 1px solid white;}
.footer .ft-links a{ display: inline-block; margin: 0 10px;}
.footer .ft-cr{ text-align: center; padding: 10px 0;}
.footer .ft-cr p{ line-height: 24px;}










.page-home .main{ width: 1000px; margin: 0 auto 20px;}
.page-home .home-hd{ height: 320px; margin-top: -24px; margin-bottom: 20px; position: relative;}
    .home-hd .hd-hi{ float: left; width: 586px; height: 320px; background-color: #0069B7;}
    .home-hd .hd-sn{ width: 412px; position: absolute; right: 0; bottom: 0;}
    .home-hd .hd-sn li{ float: left; margin: 18px 0 0 18px;}
    .pgwSlider{ margin: 10px;}
    .pgwSlider .ps-current{ float: left; width: 450px; overflow: hidden; height: inherit; position: relative; font-size: 1rem;}
    .pgwSlider .ps-current span{ position: absolute; width: 100%; padding: 8px 10px 10px; background: rgba(0,0,0,0.7); left: 0; bottom: 0; color: #fff;}
    .pgwSlider .ps-current img{ max-width: 100%; min-width: 100%; height: auto; display: block;}
    ul.pgwSlider,.pgwSlider>ul{ float: right; width: 106px; padding: 0; list-style: none; margin: 0;}
    ul.pgwSlider>li,.pgwSlider>ul>li{ height: 50px; margin-bottom: 6px; overflow: hidden; position: relative; opacity: .6; filter: alpha(opacity=60); font-size: .8rem;}
    ul.pgwSlider>li:last-child,.pgwSlider>ul>li:last-child{ margin-bottom: 0;}
    ul.pgwSlider>li span,.pgwSlider>ul>li span{ display: block; width: 100%; position: absolute; bottom: 0; padding: 3px 0 5px 5px; color: #fff; background: rgba(0,0,0,0.7); overflow: hidden; text-overflow: ellipsis;}
    ul.pgwSlider>li:hover,.pgwSlider>ul>li:hover{ opacity: 1 !important;}
    ul.pgwSlider>li img,.pgwSlider>ul>li img{ width: 100%; min-height: 100%; display: block;}
    @media(min-width: 481px){ ul.pgwSlider>li,.pgwSlider>ul>li{ width: 100% !important;}}
    @media(max-width: 480px){ .pgwSlider .ps-current{ margin-bottom: 6px; font-size: .9rem;}
        .pgwSlider .ps-current img{ width: 100%; min-height: inherit;}
        .pgwSlider .ps-current,ul.pgwSlider,.pgwSlider>ul{ width: 100%;}
        ul.pgwSlider>li,.pgwSlider>ul>li{ float: left; min-height: 50px; max-height: 70px; min-width: 20%;}
        ul.pgwSlider>li span,.pgwSlider>ul>li span{ white-space: nowrap;}
    }
.page-home .home-tit{ height: 47px; line-height: 47px; border-bottom: 1px solid #0069B7;}
.page-home .home-tit h3{ float: left; font-size: 20px; font-weight: normal;}
.page-home .home-tit .ht-r{ float: right; color: #666666;}
.page-home .home-tit .ht-r a{ display: inline-block; color: #666666; margin: 0 8px;}
.page-home .home-tit .ht-r a:hover{ color: #0068B7;}
.page-home .home-tit .ht-r a:last-child{ margin: 0 0 0 8px;}
.page-home .home-tit .ht-more{ float: right;}
.page-home .home-tit .ht-more a{ display: inline-block; width: 19px; height: 19px; overflow: hidden; margin-top: 14px;}
.page-home .home-ds{ margin-bottom: 10px;}
    .home-ds .home-tit h3{ margin-left: 15px;}
    .home-ds .ds-bi{ width: 300px; height: 348px; float: left; background-color: #EEEEEE;}
    .home-ds .ds-bi .ds-bi-li ul{ display: block; padding: 10px 0;}
    .home-ds .ds-bi .ds-bi-li li{ height: 28px; line-height: 28px; padding: 0 15px;}
    .home-ds .ds-bi .ds-bi-li li span{ float: right; color: #FF9933;}
    .home-ds .ds-ap{ width: 680px; height: 348px; float: right; background-color: #EEEEEE; position: relative;}
    .home-ds .ds-ap .tabs-wrap{ position: absolute; top: 0; right: 15px;}
    .home-ds .ds-ap .tabs-wrap li{ float: left; height: 47px; line-height: 47px;}
    .home-ds .ds-ap .tabs-wrap li span{ display: inline-block; height: 16px; line-height: 16px; padding: 0 10px; color: #999999; cursor: pointer;}
    .home-ds .ds-ap .tabs-wrap li:first-child span{ border-right: 1px solid #999999;}
    .home-ds .ds-ap .tabs-wrap li:last-child span{ padding: 0 0 0 10px;}
    .home-ds .ds-ap .tabs-wrap li.thistab span{ color: #0067B7;}
    .home-ds .ds-ap .order-li div{ width: 650px; height: 270px; margin: 15px 0 0 15px;}
.page-home .home-il{ width: 1000px; overflow: hidden;}
.page-home .home-il-wrap{ width: 1040px;}
.home-il .il-box{ width: 480px; height: 254px; float: left; margin-right: 40px; margin-bottom: 10px;}
.home-il .il-box .ib-li{ font-size: 13px;}
.home-il .il-box .ib-li ul{ padding-top: 10px;}
.home-il .il-box .ib-li li{ height: 28px; line-height: 28px; overflow: hidden; padding-left: 15px; color: #666666; background: url("../images/home_dot.png") no-repeat 0 12px;}
.home-il .il-box .ib-li li span{ display: inline-block; float: right;}
.home-il .il-box .ib-li li a{ color: #666666;}
.home-il .il-box .ib-li li a:hover{ color: #0068B7;}
