#histop {
	background: #DCDCE2;
	opacity: 0.9;
	/* padding: 0 5px; */
	/* border: 3px solid silver; */
	border-left: 1px solid #0C4269;
	position: absolute;
	font-size: 12px;
	border-radius: 3px;
	line-height: 20px;
	top: 0px;
	right: 0px;
}

#hid {
	width:19px;
	height:73px;
	position:absolute;
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	background:url(../images/mi_btn.png);
	opacity: 0.9;
	top: 0px;
	right: 250px;
}
.mapPage {
	width: 100%;
}

.mapPage .rw {
	width: 5px;
}

.mTool {
	height: 26px;
	overflow: hidden;
	font-size: 12px;
	position: relative;
	background: url(../images/bgIco.png) repeat-x;
}

.mTool .mtl {
	height: 26px;
	float: left;
}

.mTool .mtl span {
	display: block;
	float: left;
	height: 21px;
	margin: 2px 6px 0 0;
}

.mTool .mtl span a {
	display: block;
	float: left;
	height: 21px;
	width: 53px;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/mIco.png) no-repeat 100px 0;
}

.mTool .mtl .mi01 a {
	background-position: 0 0;
}

.mTool .mtl .mi02 a {
	background-position: 0 -41px;
	width: 78px;
}

.mTool .mtl .mi03 a {
	background-position: 0 -83px;
	width: 78px;
}

.mTool .mtl .mi04 a {
	background-position: 0 -124px;
	width: 56px;
}

.mTool .mtl .mi05 a {
	background-position: 0 -166px;
	width: 48px;
}

.mTool .mtl .mi06 a {
	background-position: 0 -207px;
	width: 54px;
}

.mTool .mtl .mi07 a {
	background-position: 0 -249px;
}

.mTool .mtl .mi08 a {
	background-position: 0 -290px;
}

.mTool .mtl .mi09 a {
	background-position: 0 -332px;
	width: 76px;
}

.mTool .mtl .mi01 .on {
	background-position: 100% 0;
}

.mTool .mtl .mi02 .on {
	background-position: 100% -41px;
}

.mTool .mtl .mi03 .on {
	background-position: 100% -83px;
}

.mTool .mtl .mi04 .on {
	background-position: 100% -124px;
}

.mTool .mtl .mi05 .on {
	background-position: 100% -166px;
}

.mTool .mtl .mi06 .on {
	background-position: 100% -207px;
}

.mTool .mtl .mi07 .on {
	background-position: 100% -249px;
}

.mTool .mtl .mi08 .on {
	background-position: 100% -290px;
}

.mTool .mtl .mi09 .on {
	background-position: 100% -332px;
}

.mTool .mtl select {
	float: left;
	vertical-align: middle;
	margin: 3px 6px 0 10px;
	*margin: 1px 6px 0 10px;
}

.mTool .mtr2 {
	height: 26px;
	line-height: 24px;
	line-height: 28px\0;
	*line-height: 28px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 90px;
	z-index: 1001;
}

.mTool .mtr2 input {
	vertical-align: middle;
	float: left;
	margin-top: 7px;
	*margin-top: 2px;
	margin-top: 4px\0;
}

.mTool .mtr2 label {
	vertical-align: middle;
	float: left;
	margin-right: 10px;
}

.mTool .mPath {
	float: left;
	height: 26px;
	padding-left: 20px;
	margin-left: 10px;
	height: 14px;
	line-height: 14px;
	background: url(../images/bgIco.png) no-repeat 0 -39px;
}

.mTool .mtr3 {
	width: 168px;
	height: 26px;
	position: absolute;
	top: 0;
	right: 198px;
	right: 196px\0;
	z-index: 1001;
}

.mTool .mtr3 span {
	display: block;
	float: right;
	height: 21px;
	width: 78px;
	margin: 2px 6px 0 0;
}

.mTool .mtr3 span a {
	display: block;
	float: right;
	height: 21px;
	width: 78px;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/mIco2.png) no-repeat 100px 0;
}

.mTool .mtr3 .mi10 a {
	background-position: 0 0;
}

.mTool .mtr3 .mi11 a {
	background-position: 0 -31px;
}

.mTool .mtr3 .mi10 .on {
	background-position: 100% -31px;
}

.mTool .mtr3 .mi11 .on {
	background-position: 100% 0;
}

.mtr {
	width: 140px;
	position: absolute;
	top: 2px;
	right: 5px;
	z-index: 1000;
}

.mtr strong {
	display: block;
	height: 23px;
	line-height: 20px;
	line-height: 23px\0;
	*line-height: 23px;
	overflow: hidden;
	float: right;
	cursor: pointer;
	text-align: right;
	padding: 0 10px 0 25px;
	background: url(../images/smap.png) no-repeat 0px 1px;
}

.mtr ul {
	display: none;
	clear: both;
	background: #DCDCE2;
	border: 1px solid #0C4269;
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	opacity: 0.85;
	position: relative;
	z-index: 2000;
}

.mtr li {
	height: 24px;
	line-height: 24px;
	border-top: 1px solid #B8B8C5;
	border-bottom: 1px solid #FFF;
}

.mtr li a {
	display: block;
	color: #4A4A4A;
	padding-left: 32px;
	background: url(../images/smap.png) no-repeat 4px -37px;
	_width: 138px;
	_background: url(../images/smap_ie6.png) no-repeat 4px -37px;
}

.mtr .map51 a, .mtr .map51 a:hover {
	background-position: 4px -37px;
}

.mtr .mapabc a, .mtr .mapabc a:hover {
	background-position: 4px -80px;
}

.mtr .tm1 a, .mtr .tm1 a:hover {
	background-position: 4px -123px;
}

.mtr .tm2 a, .mtr .tm2 a:hover {
	background-position: 4px -157px;
}

.mtr .tm3 a, .mtr .tm3 a:hover {
	background-position: 4px -189px;
}

.mtr .baidu a, .mtr .baidu a:hover {
	background-position: 4px -222px;
}

.mtr .wx a, .mtr .wx a:hover {
	background-position: 4px -253px;
}

.mtr li a:hover {
	background: url(../images/smap.png) #EEE no-repeat 4px -37px;
	_background: url(../images/smap_ie6.png) no-repeat 4px -37px;
}

.smap ul {
	display: block;
}

.mapBox {
	background: #DCDCE2;
	height: 100%;
}

.mapBox .mainFrame {
	width: 100%;
	height: 100%;
	*height: expression(document.body.offsetHeight - 311 + 'px');
}

.mapBox .bm {
	*height: expression(document.body.offsetHeight - 116 + 'px');
}

.infoBox {
	height: 200px;
	background: #DCDCE2;
	overflow: hidden;
	vertical-align: top;
}

.infoBox .infoTab {
	height: 5px;
	overflow: hidden;
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	background: url(../images/infoTab.png) repeat-x;
}

.infoBox .infoTab span {
	display: block;
	height: 5px;
	width: 100px;
	margin: 0 auto;
	background: url(../images/infoTab.png) no-repeat 0 -6px;
}

.infoBox .infoTab .on {
	background-position: 0 -12px;
}

.infoBox .infoCon {
	height: 190px;
	*height: 185px;
	overflow: auto;
	margin: 5px;
	font-size: 12px;
}

.infoCon .tabs {
	margin-bottom: -1px;
}

.infoCon .tabs ul {
	width: 202px;
	height: 26px;
	border-left: 1px solid #B8B8C5;
}

.infoCon .tabs li {
	float: left;
	width: 100px;
	line-height: 24px;
	text-align: center;
	background: #DCDCE2;
	border-bottom: 1px solid #B8B8C5;
	border-top: 1px solid #B8B8C5;
	border-right: 1px solid #B8B8C5;
	cursor: pointer;
}

.infoCon .tab_con {
	min-height: 153px;
	*min-height: inherit;
	*height: 160px;
	border: 1px solid #B8B8C5;
	padding: 5px;
	text-align: center;
	background: #FFF;
}

.infoCon .tabs .active {
	position: relative;
	background: #FFF;
	font-weight: bold;
	border-bottom: 1px solid #FFF;
}

.infoCon .tabs .active span {
	display: block;
}

.infoCon .scTool {
	width: 200px;
	height: 16px;
	overflow: hidden;
	float: right;
	margin: -23px 15px 0 0;
}

.infoCon .scTool a {
	display: block;
	width: 43px;
	height: 16px;
	float: right;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 15px;
	background: url(../images/sc.png) no-repeat 100px 0;
}

.infoCon .scTool .export {
	background-position: 0 -32px;
}

.infoCon .scTool .set {
	background-position: 0 -64px;
}

.list table {
	width: 100%;
	*width: 98.5%;
	border-top: 1px solid #B8B8C5;
	border-right: 1px solid #B8B8C5;
	font-size: 12px;
}

.list table th, .list table td {
	text-align: center;
	padding: 4px;
	border-left: 1px solid #B8B8C5;
	border-bottom: 1px solid #B8B8C5;
}

.list table .tal {
	text-align: left;
}

.list table .controller a {
	margin: 0 3px;
}

.list table th {
	padding: 4px;
	background: #CBD8E0;
	font-weight: bold;
}

.list table .odd {
	background: #EEF8FD;
}

.list table .even {
	background: #FFF;
}

.list table tr.hover {
	background: #FFFFE1;
}

.list table a {
	text-decoration: underline;
}

/* 轨迹回放 */
.mapInfo {
	width: 237px;
	*height: 73px;
	position: absolute;
	top: 26px;
	right: 5px;
}

.miMain {
	width: 218px;
	background: #DCDCE2;
	float: right;
	border-left: 1px solid #0C4269;
	filter: Alpha(opacity = 80);
	opacity: 0.80;
	z-index: 9999;
}

.miBox h3 {
	border-bottom: 1px solid #0C4269;
	padding: 1px;
	background: url(../images/mi.png) #FFF repeat-x 0 -273px;
}

.miBox h3 span {
	display: block;
	height: 24px;
	line-height: 24px;
	padding-left: 11px;
	font-size: 13px;
	color: #10598D;
}

.mapInfo .miBtn {
	width: 19px;
	height: 73px;
	position: absolute;
	left: 0px;
	top: -1px;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/mi_btn.png) no-repeat;
}

.miOn {
	border: none;
}

.miOn .miBox {
	display: none;
}

.tpb {
	border-bottom: 1px solid #0C4269;
}

.tpb .sc {
	_width: 218px;
	padding: 12px 12px 8px 12px;
}

.tpb .sc li {
	height: 21px;
	margin-bottom: 6px;
}

.tpb .sc li input {
	vertical-align: middle;
	font-family: Verdana, Arial, Tahoma, "宋体", Helvetica, sans-serif;
	font-size: 12px;
}

.tpb .sc .ft label {
	float: left;
	line-height: 20px;
}

.tpb .sc .ft input {
	width: 118px;
	height: 21px;
	line-height: 21px;
	border: 1px solid #4A4A4A;
	float: left;
}

.tpb .sc .ft span {
	display: block;
	float: left;
	width: 15px;
	height: 20px;
	overflow: hidden;
	margin-left: 1px;
}

.tpb .sc .ft span a {
	display: block;
	width: 15px;
	height: 9px;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-top: 1px;
	background: url(../images/tbtn.png) no-repeat;
}

.tpb .sc .bs {
	height: 29px;
	line-height: 29px;
}

.tpb .sc .bs label {
	float: left;
}

.tpb .sc .bs .rating {
	float: left;
}

.tpb .sc .bs .rating span {
	float: left;
}

.tpb .sc .bs .rating #rating {
	float: left;
	vertical-align: middle;
	margin: 6px 3px 0 3px;
	border-left: 1px solid #4A4A4A;
	border-right: 1px solid #4A4A4A;
}

.tpb .sc .fc1 {
	float: left;
	margin: 0 10px 0 0;
}

.tpb .sc .fc2 {
	float: left;
}

.tpb .tool {
	clear: both;
}

.tpb .tool div {
	height: 26px;
	padding-top: 2px;
	background: url(../images/mi.png) repeat-x 0 -333px;
}

.tpb .tool span {
	display: block;
	width: 65px;
	height: 26px;
	padding-right: 2px;
	float: left;
	background: url(../images/mi.png) repeat-x 100% -222px;
}

.tpb .tool .t03, .tpb .tool .t06 {
	width: 84px;
	background: none;
	padding-right: 0;
}

.tpb .tool span a {
	display: block;
	width: 43px;
	height: 16px;
	margin: 5px auto 0;
	margin: 5px 0 0 11px\0;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/mi.png) repeat-x 0 100px;
}

.tpb .tool .t01 a {
	background-position: 0 0;
}

.tpb .tool .t01 .pause {
	background-position: 0 -376px;
}

.tpb .tool .t02 .stop {
	background-position: 0 -415px;
}

.tpb .tool .t02 a {
	background-position: 0 -37px;
}

.tpb .tool .t03 a {
	width: 67px;
	margin: 5px 0 0 8px\0;
	background-position: 0 -74px;
}

.tpb .tool .t04 a {
	background-position: 0 -187px;
}

.tpb .tool .t05 a {
	width: 52px;
	margin: 5px 0 0 5px\0;
	background-position: 0 -112px;
}

.tpb .tool .t06 a {
	width: 67px;
	margin: 5px 0 0 8px\0;
	background-position: 0 -149px;
}

.tpi {
	border-bottom: 1px solid #0C4269;
}

.tpi h3 {
	border-bottom: none;
	cursor: pointer;
}

.tpi h3 span {
	display: block;
	height: 24px;
	line-height: 24px;
	padding-left: 11px;
	font-size: 13px;
	color: #10598D;
	background: url(../images/mi.png) no-repeat 100% -496px;
}

.tpi ul {
	display: none;
	padding: 12px 12px 5px 12px;
}

.tpi li {
	margin-bottom: 6px;
}

.tpi li input {
	width: 135px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #4A4A4A;
	vertical-align: middle;
	font-family: Verdana, Arial, Tahoma, "宋体", Helvetica, sans-serif;
	font-size: 12px;
}

.tpi li textarea {
	width: 135px;
	height: 36px;
	border: 1px solid #4A4A4A;
	vertical-align: middle;
	font-family: Verdana, Arial, Tahoma, "宋体", Helvetica, sans-serif;
	font-size: 12px;
}

.tpi .schedule {
	height: 18px;
	padding-top: 2px;
}

.tpi .schedule label {
	float: left;
}

.tpi .schedule div {
	float: left;
	width: 100px;
	height: 12px;
	vertical-align: middle;
	margin-top: 2px;
	*margin-top: 0px;
	border-left: 1px solid #656362;
	border-right: 1px solid #656362;
	position: relative;
	background: url(images/progressbg_orange.gif) -10px 0 no-repeat;
}

.tpi .schedule div span {
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
	width: 100px;
	text-align: center;
	color: #000;
	font-size: 11px;
}

.tpi .fc input {
	width: auto;
	height: auto;
	border: thin
}

.tipon ul {
	display: block;
}

.tipon h3 {
	border-bottom: 1px solid #0C4269;
}

.tipon h3 span {
	background-position: 100% -453px;
}

.amap-info-content{
	border-radius: .5em;
	box-shadow: 0 3px 14px rgba(0,0,0,.75);
	/* amap-info-content */
}

/* 页面加载样式 */
.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( 'images/loading2.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}